RAG Pipeline.json
{
  "name": "RAG Pipeline",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -288
      ],
      "id": "e92a0b2e-25f5-4c96-8e6d-612f8cb0faaf",
      "name": "Telegram Trigger",
      "webhookId": "e5e195e8-c9b1-4cc4-bf5c-5eb0a65571ff",
      "credentials": {
        "telegramApi": {
          "id": "WOoZl44r6kRuuFeD",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        160,
        -288
      ],
      "id": "a21f09c1-915d-49f2-a9ed-db97b812083a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "retrading-faq",
          "mode": "list",
          "cachedResultName": "retrading-faq"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        368,
        -288
      ],
      "id": "1e7ee066-bc45-42f1-8b43-c892bd80e539",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "AtIbOGpkbZtzwD64",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        -80
      ],
      "id": "c370f97c-510a-432c-a774-0ea88070397c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rPhE31oNPbS3PVjk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        -80
      ],
      "id": "9d2fa579-6ca6-4897-9f63-9404794ddae2",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        608,
        144
      ],
      "id": "85eb2335-608c-4d06-95b3-bc5e55f38bbc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "Default Data loader - chunking \n\nEmbedding model - embedding\n\n\npinecone - storing those vectors, and retreive them for our customer agent"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -32
      ],
      "typeVersion": 1,
      "id": "7fb0ebe6-cc88-470f-a507-f64a147a6ce0",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "429b7295-4c94-4713-8069-99e55ecda8ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4da39247ae932b64e314bc7394dae8dd7bda9c14f022483695b66b6f5c0fad5c"
  },
  "id": "5t7KwH9ElmuPvlQ5",
  "tags": []
}